/* Customizations for docs */

/* region Base colors */
:root {
    --black: #000000;
    --white: #FFFFFF;

    --primary: #1a5899;
    --success: #3f7d3f;
    --warning: #fc7b00;
    --danger: #ff0000;

    --light-primary: #64b1ff;
    --light-success: #bcfbbc;
    --light-warning: #ff8800;
    --light-danger: #ffa5a5;
}
/* endregion Base colors */

/* region Alert boxes */
.alert {
    display: block;
    padding: 0.5rem;
}

.alert-primary {
    border: 1px var(--primary) dashed;
    border-left: 0.5rem var(--primary) solid;
}

.alert-success {
    border: 1px var(--success) dashed;
    border-left: 0.5rem var(--success) solid;
}

.alert-warning {
    border: 1px var(--warning) dashed;
    border-left: 0.5rem var(--warning) solid;
}

.alert-danger {
    border: 1px var(--danger) dashed;
    border-left: 0.5rem var(--danger) solid;
}

/*  region Icon colors */
.alert-primary i.fas {
    color: var(--primary);
}

.alert-success i.fas {
    color: var(--success);
}

.alert-warning i.fas {
    color: var(--warning);
}

.alert-danger i.fas {
    color: var(--danger);
}
/*  endregion Icon colors */
/* endregion Alert boxes */

/* region Rows and cols  */
.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, auto);  /* 12 columns */
    column-gap: 0.5rem;
    margin: 0;
}

.col-header {
    grid-column: 1 / 1;
    padding: 0.5rem;
    text-align: center;
}

.col-message {
    grid-column: 2 / 12;
    padding: 0.5rem;
}
/* endregion Rows and cols  */


.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}
